
.subhead {
    background-color: #4267b2;
    border-radius: 3px;
    clear: both;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 8px;
    padding: 7px 0;
    text-indent: 9px;
    text-transform: uppercase;
    width: 99.6%;
	
}
/*.error {
	
	border: 1px solid #CC9999;
	color: #AA0B0B;
	
	}*/
	
.form-error {
		border: 1px solid #CC9999;
	}

.error-message{
	color: #AA0B0B;
	
	}
.message.error {
	margin-bottom: 6px;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
	background-color: #FFEEEE;
	border: 2px solid #CC9999;
	border-radius: 7px 7px 7px 7px;
	color: #AA0B0B;
	padding:8px;
	}

.message.success {
	margin-bottom: 6px;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
	background-color: #dff0d8;
	border: 2px solid #d6e9c6;
	border-radius: 7px 7px 7px 7px;
	color: #3c763d;
	padding:8px;
	}	

#header {
   background-color: #4267b2;
}

.gheading{
	background-color:#4267b2 !important;
	color:#fff;
	}
	
.list-user-list-cus li {
    border-radius: 6px;
    border: solid 1px #ccc;
    width: 85px !important;
    height: 90px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
	line-height: 90px;
}
.list-user-list-cus li img
{
 display:inline-block;
 vertical-align:central;
 max-width:80px;	
}

#myTab .btn{
 min-width:100px;	
	}
	

#myTab .btn-primary {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;
}

.btn-primary:hover {
    color: #fff;
    background-color: #df2114 !important;
    border-color: #df2114 !important;	
	
}

#myTab .btn-default {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;
}

#myTab .btn-default:hover {
    color: #fff;
    background-color: #ff6f29;
    border-color: #ff6f29;
}				
