
.subhead {
    background-color: #4267b2;
    border-radius: 3px;
    clear: both;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 8px;
    padding: 7px 0;
    text-indent: 9px;
    text-transform: uppercase;
    width: 99.6%;
	
}
/*.error {
	
	border: 1px solid #CC9999;
	color: #AA0B0B;
	
	}*/
	
.form-error {
		border: 1px solid #CC9999;
	}

.error-message{
	color: #AA0B0B;
	
	}
.message.error {
	margin-bottom: 6px;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
	background-color: #FFEEEE;
	border: 2px solid #CC9999;
	border-radius: 7px 7px 7px 7px;
	color: #AA0B0B;
	padding:8px;
	}

.message.success {
	margin-bottom: 6px;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
	background-color: #dff0d8;
	border: 2px solid #d6e9c6;
	border-radius: 7px 7px 7px 7px;
	color: #3c763d;
	padding:8px;
	}	

#header {
   background-color: #4267b2;
}

.gheading{
	background-color:#4267b2 !important;
	color:#fff;
	}
	
.list-user-list-cus li {
    border-radius: 6px;
    border: solid 1px #ccc;
    width: 85px !important;
    height: 90px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
	line-height: 90px;
}
.list-user-list-cus li img
{
 display:inline-block;
 vertical-align:central;
 max-width:80px;	
}

#myTab .btn{
 min-width:100px;	
	}
	

#myTab .btn-primary {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;
}

.btn-primary:hover {
    color: #fff;
    background-color: #df2114 !important;
    border-color: #df2114 !important;	
	
}

#myTab .btn-default {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;
}

#myTab .btn-default:hover {
    color: #fff;
    background-color: #ff6f29;
    border-color: #ff6f29;
}

.menu_buy{
  padding-top:10px;	
  padding-left:15px;
}

.collapsable_menu .nav-item {
  margin-top:15px !important;
}

.nav-link:hover {
  color:#000000  !important;
  }
 .pop-loc_head {
    background: url(../../img/hdr_txtr.jpg)  repeat-x scroll #ffffff;
    height: 79px;
	padding:10px;
	
  }
  
      .w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}
.w3-badge,.w3-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}
.w3-display-topleft{position:absolute;left:0;top:0}.w3-display-topright{position:absolute;right:0;top:0}
.w3-display-bottomleft{position:absolute;left:0;bottom:0}.w3-display-bottomright{position:absolute;right:0;bottom:0}
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
  
  
				
